.float-input{
    float: right;
    border-radius: 16px;
    width: 28vw;
    height: 2.5rem;
}

.inp{
    width: 45vw;
    padding-left: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.labl{
    font-size: 1.2rem;
    font-weight: 700;
}

.card{
    cursor: default;
}
.newhere{
    border: none;
    background-color: transparent;
    transition: 0.3s;
}
.newhere:hover{
    font-weight: 600;
    transition: 0.3s;
}
.buttn{
    margin-top: 2rem;
}

.auth{
    width: 55vw !important;
}

.auth:hover{
    box-shadow: 15px 15px 15px #000000;
    transition: 0.5s;
    transition: 0;
    -webkit-animation: 0;
    animation: 0;
    
}

@media only screen and (max-width: 768px) {
    .card{
        width: 22rem;
    }
    .imgAuth{
        width: 10rem;
    }
    .float-input{
        float: right;
        border-radius: 16px;
        width: 10rem;
        height: 1.5rem;
        font-size: 0.7rem;
    }
    .inp{
        width: 17rem;
        padding-left: 1rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .labl{
        font-size: 0.8rem;
        font-weight: 700;
    }
}