.unchosen-card:hover{
    box-shadow: 15px 15px 15px #000000;
    transition: 0.5s;
    transition: width 2s, height 2s, transform 1s, all 0.5s;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

.battle-icon{
    width: 1rem;
}

.iconsContainer{
    width: 5rem;
    min-width: 10rem;
}

.pp{
    width: fit-content;
}

.unchosen-card{
    display: none;
    filter: brightness(0);
}

.battle-card{
    transition: 0.5s;
    cursor: pointer;
    filter: brightness(1);

}

.battle-card:hover{
    box-shadow: 15px 15px 15px #000000;
    transition: 0.5s;
    transition: width 2s, height 2s, transform 1s, all 0.5s;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

.currentPrtp{
    width: 20rem;
    position: fixed;
    top: 29rem;
    left:7rem;    
}
.currentRival{
    width: 20rem;
    position: fixed;
    top: 13rem;
    left:44rem;    
}
.prtcp{
    width: 20rem;
    position: fixed;
    top: 35rem;
    left:28rem;    
}
.rvl{
    width: 20rem;
    position: fixed;
    top: 13rem;
    left:25rem;    
}

.battlebar{
    border: 1px solid black;
    position: fixed;
    width: 30rem;
}

.shadowUnder{
    position: relative;
    width: 20rem;
    border: 1px solid black;
    height: 2rem;
    box-shadow: 0 8px 6px -6px black;
}

@-prefix-keyframes slide {
    from {height: 0;}
    to {height: 300px;}
  }

  .moveUpDown {
    transition: width 1s, height 1s, transform 1s, all 0.5s;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 0.7s infinite  alternate;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 100px;
    }
  }

  /* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
}
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.battleOperations{
    position: fixed;
    top:45rem;
    left:6rem;
    z-index: 999;
    width: 80.5%;
    border:1px solid rgb(26, 26, 26);
    height: 4.7rem;
    background-color: rgb(114, 114, 114);
}

.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 200ms steps(44) infinite normal;
}
/* @keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
} */